:root {
  --font-family-primary: Lato, sans-serif;
  --font-family-secondary: fantasy, cursive;
  --color-primary: #333;
  --color-secondary: #888;
  --color-btn-hovered: #3a3a3a;
  --color-background: #f8f8f8;
  --color-input-border: #ddd;
  --color-input-background: #fff;
  --color-list-view-divider: #eee;
  font-size: 10px;
}

.page {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
}

.header,
.main {
  width: 50rem;
  margin-inline: auto;
}

.header {
  text-align: right;
}

.logo {
  width: 100%;
}

.link {
  font-family: var(--font-family-secondary);
  font-size: 1.6rem;
}

@media (max-width: 768px) {

  .header { 
    text-align: center;
  }

}

.caption,
.input_type_text {
  display: inline-block;
  flex-grow: 1;
  font-size: 1.8rem;
}

.tasks {
  margin: 0;
  padding: 0;
}

.caption,
.input,
.button {
  outline: none;
}

.title,
.button {
  font-size: 1.5rem;
}

.button {
  background: none;
  border: none;
  color: var(--color-secondary);
  width: 6rem;
  font-family: inherit;
  cursor: pointer;
}

.button:hover {
  color: var(--color-btn-hovered);
}

.title {
  font-weight: 700;
  border-bottom: 0.2rem solid var(--color-primary);
  padding: 3rem 0 1rem;
  margin: 0;
  text-transform: uppercase;
}

.input_type_text {
  line-height: 1.8rem;
  height: 2.1rem;
  padding: 0 0.9rem;
  border: 0.1rem solid var(--color-input-border);
  background: var(--color-input-background);
  border-radius: 0.6rem;
  font-family: inherit;
  color: var(--color-secondary);
}

.input_type_text:focus {
  color: var(--color-primary);
}

.list-view {
  list-style: none;
  overflow: hidden;
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--color-list-view-divider);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_type_checkbox {
  margin: 0 1rem;
}

.caption {
  padding-left: 1rem;
  box-sizing: border-box;
}

.icon {
  height: 2em;
}

.icon_remove {
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.icon_remove:hover {
  transform: rotateZ(0);
}

.tasks_completed .caption {
  text-decoration: line-through;
  color: var(--color-secondary);
}

.tasks__item .input_type_text {
  display: none;
}

.tasks__item_edit-mode .input_type_text {
  display: inline-block;
}

.tasks__item_edit-mode .caption{
  display: none;
}